<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.8.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.8.5/themes/icon.css">
    <script type="text/javascript" src="jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
</head>
<body>

<!--<div class="easyui-accordion" style="width:200px;height:300px;" data-options="fit:'true'">-->
<!--<div title="客户管理" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">-->
<!--<h3 style="color:#0099FF;">Accordion for jQuery</h3>-->
<!--<p>Accordion is a part of easyui framework for jQuery. It lets you define your accordion component on web page more easily.</p>-->
<!--</div>-->
<!--<div title="营销管理" data-options="iconCls:'icon-help'" style="padding:10px;">-->
<!--<p>The accordion allows you to provide multiple panels and display one or more at a time. Each panel has built-in support for expanding and collapsing. Clicking on a panel header to expand or collapse that panel body. The panel content can be loaded via ajax by specifying a 'href' property. Users can define a panel to be selected. If it is not specified, then the first panel is taken by default.</p>-->
<!--</div>-->
<!--<div title="权限管理" data-options="iconCls:'icon-search'" style="padding:10px 0;" >-->
<!--<ul id="mytree" class="easyui-tree" data-options="url:'/showMenu2',method:'get',animate:'true'"></ul>-->
<!--</div>-->
<!--</div>-->
<!--<script>-->
<!--$("#mytree").tree({-->
<!--onClick:function(node){-->
<!--// alert(node.text);-->
<!--//console.log(node);-->
<!--//判断选项卡是否存在-->
<!--var flag=$("#tt").tabs("exists",node.text);-->
<!--if(flag){-->
<!--//存在就选中-->
<!--$("#tt").tabs("select",node.text);-->
<!--}else{-->
<!--$('#tt').tabs('add',{-->
<!--title: node.text,-->
<!--selected: true,-->
<!--closable:true,-->
<!--content:"<iframe src='"+node.attributes.url+"' style='width: 100%;height: 100%'></iframe>"-->

<!--});-->


<!--}-->
<!--}-->
<!--});-->

<!--</script>-->

<div id="myAccordion" class="easyui-accordion" style="width:500px;height:300px;"
     data-options="fit:'true'"></div>
<script>
    $.ajax({
        url:"/showMenu2",
        type:"get",
        dataType:"json",//返回类型
        success:function(data){
            // console.log(data);
            $(data).each(function(index,menu){
                //动态创建手风琴效果
                if(menu.pid==0){//一级目录
                    $('#myAccordion').accordion('add', {
                        title: menu.text,
                        id:"first"+menu.id
                    });
                }

                $("#first"+menu.id).html("<ul id='myTree"+menu.id+"'></ul>");

                $("#myTree"+menu.id).tree({
                    data:menu.children,
                    onClick:function(node){
                        var flag=$("#tt").tabs("exists",node.text);
                        if(flag){
                            $("#tt").tabs("select",node.text);
                        }else{

                            $('#tt').tabs('add',{
                                title: node.text,
                                selected: true,
                                closable:true,
                                 content:"<iframe src='"+node.attributes.url+"' style='width: 100%;height: 100%'></iframe>",
                                iconCls:node.attributes.icon,
                                href:node.attributes.url
                            });
                        }
                    }
                });
            });
        },error:function(){
            alert("error");
        }
    });

</script>
</body>
</html>


